@import "tailwindcss";

@layer utilities {
  @keyframes float {
    0%, 100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-4px);
    }
  }

  .animate-float {
    animation: float 3s ease-in-out infinite;
  }
}

.heading{
  @apply text-2xl md:text-3xl lg:text-4xl xl:text-6xl;
}

.para{
 @apply text-[12px] md:text-[14px] lg:text-[19px]
}